[project]
	description = Angular JS with Bootstrap and Spring 4 and Spring Security 3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vishnu (pappusvishnu)
[access "refs/for/refs/*"]
	read = group user/Vishnu (pappusvishnu)
	push = group user/Vishnu (pappusvishnu)
	label-Code-Review = -2..+2 group user/Vishnu (pappusvishnu)
	label-Verified = -1..+1 group user/Vishnu (pappusvishnu)
	rebase = group user/Vishnu (pappusvishnu)
	removeReviewer = group user/Vishnu (pappusvishnu)
	submit = group user/Vishnu (pappusvishnu)
[access "refs/heads/*"]
	read = group user/Vishnu (pappusvishnu)
	create = group user/Vishnu (pappusvishnu)
	push = +force group user/Vishnu (pappusvishnu)
	pushMerge = group user/Vishnu (pappusvishnu)
[access "refs/tags/*"]
	push = +force group user/Vishnu (pappusvishnu)
	pushTag = group user/Vishnu (pappusvishnu)
	pushSignedTag = group user/Vishnu (pappusvishnu)
