<div>
	<h2>Customer Search</h2>
</div>

<div class="filter">
	<div class="navbar navbar-default">
	  <div class="navbar-header">
	  	<a class="navbar-brand">Filter</a>
	  </div>
	
	  <div class="navbar-form navbar-left">
		  <div class="input-group">
			  <input type="text" class="form-control" data-ng-model="search.lastName" placeholder="Filter by last name..." />
		  </div>
	  </div>
	</div>
</div>

<div class="filter-label">
	<b>Filtering by: {{ filter.last_name }}</b>
</div>

<br/>

<div class="panel-content" data-ng-init="init()">	
	<div id="{{customer.id}}" style="min-width: 250px;" class="panel panel-primary inline" data-ng-repeat="customer in customers | filter:search:strict | orderBy:'lastName'">
	  <div class="panel-heading clearfix">
          <div class="panel-title pull-left"><b>{{customer.firstName}}&nbsp;{{customer.lastName}}</b></div>
          <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs customer_delete" data-ng-click="delete(customer.id)">
                  <span class="glyphicon glyphicon-trash" />
              </button>
          </div>
      </div>
	  <div class="panel-body clearfix">
	      <div>ID: {{customer.id}}</div>
          <div>First: {{customer.firstName}}</div>
          <div>Last: {{customer.lastName}}</div>
	  </div>
      <div class="panel-footer clearfix">
          <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs customer_edit" data-ng-click="edit(customer.id)">
                  <span class="glyphicon glyphicon-edit" />
              </button>
              <button type="button" class="btn btn-default btn-xs customer_save" style="display:none;" data-ng-click="save(customer.id)">
                  <span class="glyphicon glyphicon-floppy-save" />
              </button>
              <button type="button" class="btn btn-default btn-xs customer_cancel" style="display:none;" data-ng-click="cancel(customer.id)">
                  <span class="glyphicon glyphicon-remove" />
              </button>
          </div>
      </div>
	</div>
</div>