<div>
	<h2>Customer Search</h2>
</div>

<div class="filter">
	<div class="navbar navbar-default">
	  <div class="navbar-header">
	  	<a class="navbar-brand">Filter</a>
	  </div>
	
	  <div class="navbar-form navbar-left">
		  <div class="input-group">
			  <input type="text" class="form-control" data-ng-model="search.lastName" placeholder="Filter by last name..." />
		  </div>
	  </div>
	</div>
</div>

<div class="filter-label">
	<b>Filtering by: {{ search.lastName }}</b>
</div>

<br/>

<div class="panel-content" data-ng-init="init()">	
	<div id="{{customer.id}}" style="min-width: 300px;" class="panel panel-primary inline" data-ng-repeat="customer in customers | filter:search:strict | orderBy:'lastName'">
	  <div class="panel-heading clearfix">
          <div class="panel-title pull-left"><b>{{customer.firstName}}&nbsp;{{customer.lastName}}</b></div>
          <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs customer_delete" data-ng-click="delete(customer.id)">
                  <span class="glyphicon glyphicon-trash" />
              </button>
          </div>
      </div>
	  <div class="panel-body clearfix">
	      <div class="editable-content">{{customer.id}}</div>
          <div class="editable-content"><a id="customer_first" editable-text="customer.firstName">{{customer.firstName}}</a></div>
          <div class="editable-content"><a id="customer_last" editable-text="customer.lastName">{{customer.lastName}}</a></div>
	  </div>
      <div class="panel-footer clearfix">
          <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs customer_save" data-ng-click="save(customer.id)">
                  <span class="glyphicon glyphicon-floppy-save" />
              </button>
          </div>
      </div>
	</div>
</div>